$color-accent-color: #0078d7; // AccentColor
$color-accent-color-text: #ffffff; // AccentColorText
$color-active-text: #0078d7; // ActiveText
$color-button-border: #c0c0c0; // ButtonBorder
$color-button-face: #eaeaea; // ButtonFace
$color-button-text: #000000; // ButtonText
$color-canvas: #f0f0f0; // Canvas
$color-canvas-text: #000000; // CanvasText
$color-field: #ffffff; // Field
$color-field-text: #000000; // FieldText
$color-gray-text: #a0a0a0; // GrayText
$color-highlight: #ffff00; // Highlight
$color-highlight-text: #000000; // HighlightText
$color-link-text: #0078d7; // LinkText
$color-mark: #b0c4de; // Mark
$color-mark-text: #000000; // MarkText
$color-selected-item: #0078d7; // SelectedItem
$color-selected-item-text: #ffffff; // SelectedItemText
$color-visited-text: #800080; // VisitedText
$color-active-border: #c0c0c0; // ActiveBorder
$color-active-caption: #0078d7; // ActiveCaption
$color-app-workspace: #f0f0f0; // AppWorkspace
$color-background: #f0f0f0; // Background
$color-button-highlight: #ffffff; // ButtonHighlight
$color-button-shadow: #a0a0a0; // ButtonShadow
$color-caption-text: #ffffff; // CaptionText
$color-inactive-border: #c0c0c0; // InactiveBorder
$color-inactive-caption: #a0a0a0; // InactiveCaption
$color-inactive-caption-text: #a0a0a0; // InactiveCaptionText
$color-info-background: #ffffe0; // InfoBackground
$color-info-text: #000000; // InfoText
$color-menu: #f0f0f0; // Menu
$color-menu-text: #000000; // MenuText
$color-scrollbar: #f0f0f0; // Scrollbar
$color-three-d-dark-shadow: #808080; // ThreeDDarkShadow
$color-three-d-face: #eaeaea; // ThreeDFace
$color-three-d-highlight: #ffffff; // ThreeDHighlight
$color-three-d-light-shadow: #a0a0a0; // ThreeDLightShadow
$color-three-d-shadow: #a0a0a0; // ThreeDShadow
$color-window: #ffffff; // Window
$color-window-frame: #c0c0c0; // WindowFrame
$color-window-text: #000000; // WindowText
