/*
 * This file is part of the PHPallas UI.
 *
 * © Sina Kuhestani <sinakuhestani@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@use 'sass:map';

$coefficients: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3,
);

$paddings: (
    '': '',
    't': '-top',
    'b': '-bottom',
    'l': '-left',
    'r': '-right',
);

$margins: (
    '': '',
    't': '-top',
    'b': '-bottom',
    'l': '-left',
    'r': '-right',
);

$border-prefix: (
    '': '',
    't': '-top',
    'b': '-bottom',
    'l': '-left',
    'r': '-right',
);

$border-radius-prefix: (
    '': '',
    'bl': '-bottom-left',
    'br': '-bottom-right',
    'tl': '-top-left',
    'tr': '-top-right',
);

$border-size: (
    0: 0,
    1: 0.0625rem,
    2: 0.125rem,
    3: 0.25rem,
    4: 0.5rem,
    5: 1rem,
);

$border-raduis-size: (
    'no': 0,
    'small': 0.25rem,
    'medium': 0.5rem,
    'large': 0.75rem,
    'jumbo': 1rem,
    'full': 100%,
);

$border-style: (
    'none': 'none',
    'hidden': 'hidden',
    'dotted': 'dotted',
    'dashed': 'dashed',
    'solid': 'solid',
    'double': 'double',
    'groove': 'groove',
    'ridge': 'ridge',
    'inset': 'inset',
    'outset': 'outset',
);

$align-content: (
    'stretch',
    'center',
    'flex-start',
    'flex-end',
    'space-between',
    'space-around',
    'space-evenly'
);

$align-items: ('stretch', 'normal', 'flex-start', 'flex-end', 'baseline');

$align-self: (
    'auto',
    'stretch',
    'flex-start',
    'flex-end',
    'center',
    'baseline'
);

$text-align: ('left', 'right', 'center', 'justify');

$vertical-align: (
    'baseline',
    'sub',
    'super',
    'top',
    'text-top',
    'middle',
    'bottom',
    'text-bottom'
);

$position: ('static', 'absolute', 'fixed', 'relative', 'sticky');

$layers: (
    'back': -1,
    'surface': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9,
    'front': 1,
);
